body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  background-color: red;
}

p {
  color: green;
  font-size: x-small;
}

#inconsistent {
  color: orange;
  font-size: xx-large;
}

button {
  background-color: grey;
  color: yellow;
  position: absolute;

  left: 68%;
  bottom: 40%;
}
